.not-found {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;

    width: 100%;
    height: 90vh;
}

.not-found h1 {
    font-size: 4rem;
    font-weight: bold;
    color: var(--primary);
}

.not-found p {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text);
}

.not-found a {
    color: var(--secondary);
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.not-found a:hover {
    text-decoration: underline;
}

.not-found-bg {
    position: absolute;
    /* top: calc(50%); */
    top: 10%;
    left: auto;
    z-index: -1;
    width: 100%;
    height: 100%;

    animation: svgGlow 5.5s ease-in-out infinite;
}