nav {
    background-color: var(--background);
    border-bottom: solid 1px var(--border);
    position: relative;
    /* top: 0;
    width: 100vw; */
    z-index: 90;
    user-select: none;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    width: 100%;
    padding: 0 3rem;
    overflow: hidden;
    /* background-color: var(--primary); */
}

.logo {
    font-family: 'Averta';

    margin-right: auto;
    padding: 0 1rem;
    font-size: 1.5em;
    font-weight: bold;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    color: var(--accent);
}

.nav-menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--accent); */
    height: 100%;
    margin: 0 2px;
    border-radius: 16px;
    transition: background-color .5s ease, border-radius .25s ease;
}

.active {
    border-radius: 16px;
    background-color: var(--hover);
}

.nav-menu li a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5.375rem;
    color: var(--text-primary);
    text-decoration: none;
    padding: 0 20px;
    position: relative;
}

.nav-menu li a:hover::before,
.active::before {
    opacity: 1;
}

.nav-menu li a::before {
    background: radial-gradient(circle at center, var(--primary) 0, transparent 85%);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    content: "";
    -webkit-filter: blur(16px);
    filter: blur(16px);
    opacity: .25;
    pointer-events: none;
    position: absolute;
    -webkit-transform: translateY(55%);
    transform: translateY(55%);
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
    z-index: -1;
}

/* hamburger */
.hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 36px;
    height: 5px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--secondary);
}
.open {
    border-radius: 12px;
    padding: 2px;
    background-color: var(--background);
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
        position: fixed;
        top: 12px;
        right: 24px;
        z-index: 90;
    }
    .nav-menu {
        justify-content: flex-start;
        background-color: var(--background);
        right: -100%;
        position: fixed;
        width: 100%;
        height: 100%;
        flex-direction: column;
        transition: 0.3s;
        padding-top: 16px;
    }
    .cat {
        margin-bottom: 12px;
    }
    .nav-menu.actived {
        right: 0;
    }
    .nav-line, .logo{
        display: none;
    }
    .nav-menu li {
        text-align: center;
        height: 7rem;
        margin: 4px 0;
        width: 100%;
    }
    .nav-menu li a::before {
        display: none;
    }
    .nav-menu li a {
        justify-content: center;
        text-align: center;
        border-radius: 16px;
        border: 1px solid var(--border);
        height: 100%;
    }
}

/* Hamburger Animation to 'X' */
.hamburger.open .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.hamburger.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}